---
layout: page
permalink: /tags/:name/
---

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}
      
      {% assign tag_name = page.url | split: "/" | last %}
      <h2>Címke: {{ tag_name | capitalize | replace: "-", " " }}</h2>
      
      <div class="tag-posts">
        {% assign tag_name_cap = tag_name | capitalize %}
        {% assign filtered_posts = site.blog | where_exp: "post", "post.tags contains tag_name or post.tags contains tag_name_cap" %}
        
        {% for post in filtered_posts %}
          <div class="blog-post-card" data-aos="fade-up" data-aos-delay="{{ forloop.index | times: 50 }}">
            <!-- Itt ugyanaz a tartalom, mint a kategóriáknál -->
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4">
      {% include sidebar.html %}
    </div>
  </div>
</div>